{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {# page encoding #}
    <meta charset="UTF-8">

    {# bootstrap css styles and responsive page  #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">

    {# page title handling #}
    <title>Base Page</title>
</head>


<body>

<div class="container">
    <form class="mt-4" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="excel_file">Enter Your Excel File please</label>
            <input type="file" class="form-control-file" id="excel_file" name="excel_file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <input type="submit" class="btn btn-primary" value="plot" name="plot"/>
    </form>
</div>

{% if graphic %}
    {{ graphic }}
{% endif %}

{% if rows %}
    <table id="data_table" class="display mr-4" style="width:100%">
        <thead class="table-primary">
        <tr>
            <th>SHARE</th>
            <th>DATE</th>
            <th>FIRST</th>
            <th>HIGH</th>
            <th>LOW</th>
            <th>CLOSE</th>
            <th>VALUE</th>
            <th>VOL</th>
            <th>OPENINT</th>
            <th>PER</th>
            <th>OPEN</th>
            <th>LAST</th>
        </tr>
        </thead>
        <tbody class="table-light">
        {% for row in rows %}
            <tr>
                {% for item_of_row in row %}
                    <td>{{ item_of_row }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
{#        <tr>#}
{#            <th>SHARE</th>#}
{#            <th>DATE</th>#}
{#            <th>FIRST</th>#}
{#            <th>HIGH</th>#}
{#            <th>LOW</th>#}
{#            <th>CLOSE</th>#}
{#            <th>VALUE</th>#}
{#            <th>VOL</th>#}
{#            <th>OPENINT</th>#}
{#            <th>PER</th>#}
{#            <th>OPEN</th>#}
{#            <th>LAST</th>#}
{#        </tr>#}
        <tr class="table-info">
            <th>{{ averages_list.0 }} Averages : </th>
            <th>AVERAGE FIRST : {{ averages_list.1.1 }}</th>
            <th>AVERAGE HIGH : {{ averages_list.2.1 }}</th>
            <th>AVERAGE LOW : {{ averages_list.3.1 }}</th>
            <th>AVERAGE CLOSE : {{ averages_list.4.1 }}</th>
            <th>AVERAGE VALUE : {{ averages_list.5.1 }}</th>
            <th>AVERAGE VOL : {{ averages_list.6.1 }}</th>
            <th>AVERAGE OPENINT : {{ averages_list.7.1 }}</th>
            <th  colspan="2">AVERAGE OPEN : {{ averages_list.8.1 }}</th>
            <th  colspan="2">AVERAGE LAST : {{ averages_list.9.1 }}</th>
        </tr>
        </tfoot>
    </table>
{% endif %}


{# JQuery and bootstrap js scripts #}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#data_table').DataTable();
    });
</script>
</body>
</html>

